<h2> New User Habit </h2>

<%= form_for @user_activity do |f| %>
    <%= f.label :User %>
    <%= f.collection_select :user_id, User.all, :id, :name %>
    <br>
    
    <%= f.label :Habit %>
    <%= f.collection_select :habit_id, Habit.all, :id, :name %>
    <br>

    <%= f.submit %>
<% end %>

<%#label is the text that appears in front of the drop down user_id%>