<h1> <%= @habit.name %> </h1>
<p> Description: <%= @habit.description %> </p>

<p> <% @habit.activities.each do |activity| %> </p>
    <p> <%= link_to activity.name, activity_path(activity) %> </p>
<% end %>

<h1> <%= @user.name %> </h1>


<%= button_to 'add_habit_to_me',  new_user_activity_path, :method => "get" %>